* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--poppins: 'Poppins', sans-serif;
}

.cookie-container {
	background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);

	/* Display */
	display: flex;
	align-items: center;
	gap: 1rem;
	overflow: hidden;

	/* Position */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	/* Size */
	width: 90%;

	/* Border */
	border-radius: 1.2rem;

	/* Spacing */
	padding: 1rem;

	/* Typography */
	font-family: var(--poppins);
	color: white;
}

.cookie {
	/* Size */
	width: 55px;
	height: auto;

	/* Display */
	overflow: visible;
}

.cookie-title {
	/* Typography */
	font-size: 1.2rem;
	font-weight: bold;
}

.cookie-subtitle {
	/* Typography */
	font-weight: regular;
	font-size: 0.85rem;

	/* Spacing */
	padding: 1rem 0rem;
}

.cookie-button {
	/* Typography */
	font-family: var(--poppins);
	font-size: 0.85rem;

	/* Spacing */
	padding: 0.5rem 1rem;

	/* Border */
	border-style: none;
	border-radius: 0.3rem;

	color: #4f2626;
	cursor: pointer;
}

@media (min-width: 576px) {
	.cookie-container {
		/* Size */
		width: 400px;
		height: 200px;

		/* Spacing */
		padding: 2rem;
	}
}
